.top-menu {
	z-index: 111;
	position: relative;
	.top_container {
		background: white;
	}
	.lineup {
	  margin: auto;
	  max-width: 675px;
	}
}

.close_band {
	display: block;
	background: black;
	color: #bfa378;
	text-align: center;
	line-height: 50px;
}

.close_lineup{
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	padding: 15px;
	line-height: 50px;
}

.band_card {
	background: #ee5a4f;
	.band_top {
		background-size: cover;
		background-position: center;
		width: 100%;
		img.band_name {
		  	vertical-align: middle;
		  	width: 400px;
		  	display: table;
		  	margin: 0 auto;
		  	padding: 140px 0;
		}
	}
	.band_content {
		display: table;
		width: 100%;
		text-align: left;
		text-transform: uppercase;
		max-width: 675px;
		margin: auto;
		color: white;
		padding: 15px 0;
		.info, .video, .news {
			display: table-cell;
			vertical-align: top;
		}
	}
	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		width: 326px;
		max-width: 100%;
		background: rgba(0,0,0,0.3);
	}
	.video-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	.video-wrapper:after {
		  content: '';
		  border: 20px solid transparent;
		  border-left: rgba(255,255,255,0.9) solid 30px;
		  position: absolute;
		  display: block;
		  right: 50%;
		  top: 50%;
		  margin-top: -20px;
	      margin-right: -30px;
		  height: 0;
		  width: 0;
	}

	.band_link {
		font-weight: bold;
		font-size: 12px;
	}
}