.top-menu {
	z-index: 111;
	position: fixed;
	width: 100%;
	.top_container {
		transition: 0.15s ease-out;
		margin-top: -75px;
		opacity: 1;
		background: black;
		width: 100%;
		padding-top: 75px;
		min-height: 100px;
	}
	.top_container.hidden {
		transition: 0.15s ease-out;
		margin-top: -150px;
		opacity: 0;
	}
	.lineup {
	  margin: auto;
	  max-width: 675px;
	  width: 100%;
	  padding-bottom: 50px;

	  .lineup_image {
			margin: 20px auto;
			width: 675px;
			height: 322px;
			max-width: 100%;
	  }
		.listen_on_spotify {
			width: 250px;
	    display: table;
	    margin: auto;
			img {
				max-width: 100%;
			}
		}
	}
	.tickets_container {
		position: relative;
		padding: 0 0 30px;
	}
	.tickets_wrap {
	  display: table;
	  margin: auto;
	  .close_tickets {
	  	color: @tan;
	  	display: block;
	  	text-align: right;
	  	padding: 0 15px;
	  }
	  a.ticket_link {
	  	display: inline-block;
	  	margin: 10px;
	  }
	}
}

.close_band {
	display: table;
	background: black;
	color: @tan;
	text-align: center;
	font-weight: 100;
	font-size: 30px;
	line-height: 50px;
	cursor: pointer;
	transition: 0.15s ease-out;
  	margin: auto;
	&:hover {
		color: @pink;
	}
}

.close_lineup {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	padding: 0 15px;
	font-weight: 100;
	font-size: 30px;
	line-height: 50px;
	cursor: pointer;
	color: @pink;
	transition: 0.15s ease-out;
	&:hover {
		color: @tan;
	}
}

.band_card {
	background: @pink;
	a, .news_title a {
		border: none;
		color: white;
	}

	.band_top {
		background-size: cover;
		background-position: center;
		width: 100%;
		img.band_name {
		  	vertical-align: middle;
		  	width: 400px;
		  	display: table;
		  	margin: 0 auto;
		  	max-width: 100%;
		}
	}
	.band_content {
		display: table;
		width: 100%;
		text-align: left;
		text-transform: uppercase;
		max-width: 1000px;
		margin: auto;
		color: white;
		padding: 15px 15px 50px;

		.video {
			width: 40%;
		}
		.info, .video, .news {
			display: table-cell;
			vertical-align: top;
		}
		.info, .news {
			padding: 0 15px;
		}
		.info {
			min-width: 275px;
		}
		p {
			font-weight: 600;
			font-style: normal;
			font-size: 30px;
			margin: 0;
			line-height: 1.4;
		}

		.news {
			text-transform: none;
			margin: 0;
			.news_item {
				padding: 10px 0;
				margin: 0 10px 10px;
				border-top: 1px solid @tan;
				border-bottom: 1px solid @tan;
			}
			.news_title {
				font-size: 15px;
				margin: 0;
			}
			.news_source {
				font-size: 12px;
				color: black;
				margin: 0;
			}
		}
	}
	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		width: 100%;
		background: rgba(0,0,0,0.3);
	}
	.video-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	.video-wrapper:after {
		  content: '';
		  border: 20px solid transparent;
		  border-left: rgba(255,255,255,0.9) solid 30px;
		  position: absolute;
		  display: block;
		  right: 50%;
		  top: 50%;
		  margin-top: -20px;
	      margin-right: -30px;
		  height: 0;
		  width: 0;
	}

	p.band_link {
		font-weight: bold;
		font-size: 18px;
		a {
			color: white;
		}
	}
}

.header {
	width: 100%;
	text-transform: uppercase;
	font-weight: 500;
	transition: 0.15s ease-out;
	height: 75px;
	position: relative;
	z-index: 11;
	a {
		border: none;
	}
	.header_container {
		max-width: 1000px;
		margin: auto;
		position: relative;
	}
	.link {
		transition: 0.15s ease-in;
		line-height: 75px;
		color: @tan;
		margin: 0 20px;
		cursor: pointer;
		font-weight: 500;
	}
	.link:hover {
		color: white;
	}
	.right_header {
		position: absolute;
		top: 0;
		right: 0;
	}
	.small_bird_logo {
		opacity: 0;
		margin-top: -100px;
		transition: 0.3s ease-in;
		height: 50px;
		width: 50px;
		position: absolute;
		left: 50%;
		margin-left: -25px;
		top: 0;
	}
	.mobile_header {
		display: none;
	}
}

.lineup_container {
	position: relative;
}

.scrolled {
	.top-menu .top_container {
		transition: 0.15s ease-out;
		margin-top: -50px;
		padding-top: 50px;
		opacity: 1;
		background: black;
		width: 100%;
	}
	.top_container.hidden {
		transition: 0.5s ease-out;
		margin-top: -150px;
		opacity: 0;
	}

	.header {
		background: @darktan;
		color: black;
		height: 50px;
		.link {
			line-height: 50px;
			color: black;
			margin: 0 20px;
		}
		.link:hover {
			color: white;
		}
		.small_bird_logo {
			opacity: 1;
			margin-top: 0px;
		}
	}
}

.lineup_image {
	margin: 20px 0;
}

.band_lineup_link.tan {
	fill: @darktan;
	background: @pink;
	transition: 0.15s ease-out;
	cursor: pointer;
}

.band_lineup_link rect {
	fill: transparent;
}

.band_lineup_link.pink {
	fill: @pink;
	background: @pink;
	transition: 0.15s ease-out;
	cursor: pointer;
}

.band_lineup_link:hover {
	fill: white;
}

.lineup_controller {
	max-width: 1000px;
	margin: auto;
	position: relative;
}

.previous_band, .next_band {
	color: @tan;
	width: 70px;
	position: relative;
	display: inline-block;
	position: absolute;
	top: 0;
	line-height: 50px;
	cursor: pointer;
	transition: 0.15s ease-in;
	padding: 5px 15px;
	svg {
		fill: @tan;
		width: 100%;
		transition: 0.15s ease-in;
	}
	&:hover{
		svg {
			fill: @pink;
		}
	}
}

.previous_band {
	left: 15px;
}

.next_band {
	right: 15px;
}

.orangebar {
	background: @pink;
	position: fixed;
	top: -150px;
	width: 100%;
	height: 55px;
	z-index: 11;
	padding: 6px 0 0;
	transition: 0.3s ease-out;
	.orange-wrapper {
		max-width: 1000px;
		margin: auto;
		position: relative;
	}
	.schnakel-black {
		position: absolute;
		left: 0;
	}
	.orange-middle {
		display: table;
		margin: auto;
	}
}

.orange-open {
	.orangebar {
		top: 50px;
	}
}

.festival_wrap {
	max-width: 1000px;
	margin: auto;
	.scroll-link {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0 20px;
		img {
			height: 50px;
			max-width: 100%;
		}
		&.community-village img {
			height: 30px;
		}
		&.about, &.sponsors{
			img {
				height: 35px;
			}
		}
		&.venue {
			max-width: 150px;
		}
		&.instagram, &.getinvolved {
			img {
				height: 30px;
			}
		}
	}
}
