.venue-section .content-inner {
  display: table;
  width: 100%;
  padding: 0;
}
.venue-legend {
  display: table-cell;
  &.mobile {
    display: none;
  }
  background: #C0A479;
  width: 30%;
  padding: 50px 10px;
  vertical-align: top;
  .legend-item {
    margin: 0;
  }
  .item-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
  }
}
.venue-images {
  display: table-cell;
  width: 70%;
  overflow: hidden;
  img.map-venue {
    width: 101%;
  }
  .venue-title {
    position:absolute;
    width: 250px;
    margin: 30px 50px;
  }
  .map-parking {
    width: 50%;
    float: right;
  }
}


.venue-schedules {
  padding: 0 15px;
  max-width: 1200px;
  margin: auto;
  width: 100%;
  .schedule-main {
    .time, .band_event {
      font-weight: bold;
    }
    .location {
      text-align: center;
      min-width: 125px;
    }
    width: 40%;
    margin: 5%;
    display: inline-block;
    vertical-align: top;
    table {
      width: 100%;
    }
  }
  .schedule-comedy {
    width: 40%;
    margin: 5%;
    display: inline-block;
    vertical-align: top;
    .comedy-title {
      font-weight: bold;
      margin: 0;

    }
    .comedy-time {
      color: @pink;
      font-weight: bold;
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
  .schedule-title {
    color: @pink;
    font-size: 25px;
  }
  .event-list {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
  }
}
